body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
    overflow: hidden;
}

canvas {
    background-color: transparent;
    max-width: 768px;
    max-height: 432px;
    width: 90vw;
    height: calc(90vw * (9 / 16));
}

.controls {
    margin-top: 12px;
    line-height: 1;
}

.controls h3, h4 {
    margin: 2px 0;
}

.settings-shading {
    display: inline-flex;
}

#draw-container {
    position: relative;
}

#fps-counter:empty {
    padding: 0;
}

#fps-counter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    background-color: black;
    color: white;
    opacity: 0.25;
    font-size: 10px;
}