body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
    overflow: hidden;
    background: #333;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    background-color: transparent;
    max-width: 960px;
    max-height: 540px;
    width: 90vw;
    height: calc(90vw * (9 / 16));
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.controls {
    margin-top: 12px;
    line-height: 1;
}

.controls h3, h4 {
    margin: 2px 0;
}

.settings-shading {
    display: inline-flex;
}

#draw-container {
    position: relative;
}

#fps-counter:empty {
    padding: 0;
}

#fps-counter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    background-color: black;
    color: white;
    opacity: 0.25;
    font-size: 10px;
}

#mute-toggle {
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    font-size: 24pt;
}

#mute-toggle:not(.muted) {
    filter: grayscale();
    opacity: 0.75;
}

.options-section {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #444;
    border-radius: 5px;
    width: 25rem;
    margin-top: 1rem;
    padding: 8px;
}

.title {
    width: 100%;
    text-align: center;
    color: #888;
    margin: 0;
}