body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

canvas {
    background-color: transparent;
    width: 768px;
    height: 432px;
}